body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(45, 44, 42);
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
    margin-inline: auto;
    width: 70vw;
    margin-top: 10ch;
    height: fit-content;
}

main {
    height: fit-content;
}

a {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-decoration: none;
    border-radius: 1ch;
}

a:hover {
    color: rgb(255, 255, 255);
}

.act {
    margin-inline: auto;
    text-align: center;

    h3 {
        font-size: 2.5rem;
    }

    p {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10ch;
    }

    a {
        color: black;
        background-color: rgb(228, 228, 228);
        padding: 1ch;
    }

    a:hover {
        background-color: rgb(109, 109, 109);
    }

}

.p-page {
    background-color: rgba(0, 0, 0, 0.416);
    color: rgb(255, 0, 0);
    padding-inline: 10ch;
    width: 50vw;
    padding-bottom: 3ch;
    padding-top: 1ch;
    position: absolute;
    bottom: 5vw;
    left: 0;
    right: 0;
    margin-inline: auto;

    li {
        display: flex;
        height: fit-content;
        gap: 2ch;
    }

    a {
        background-color: rgb(118, 118, 118);
        padding: 1ch;
        border-radius: 0.5ch;
    }

    h3 {
        margin-bottom: 0;
    }
    
    p {
        margin-bottom: 4ch;
        font-weight: 600;
    }

    h3 {
        font-size: 2rem;
    }
}